body {
	height: 100vh;
	background-color: #4158d0;
	background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
	background-size: cover;
	background-position: center;

	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
	max-width: 60vw;
}

h1 {
	margin: 0;
}

.explore {
	font-family: 'Monoton', cursive;
	margin: 0;
}

.nav-link {
	padding: 0.4rem 0.5rem;
	border-radius: 0.5rem;
	font-weight: 500;
	color: white;
	margin: 0;
}

.nav-link:hover {
	padding: 0.3rem 0.4rem;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	border: white solid 0.1rem;
}

.view-btn {
	color: white;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.3rem 0.6rem;
	border-radius: 0.5rem;
}

.view-btn:hover {
	color: white;
	border: white solid 0.1rem;
}
